.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 0.5rem;
    align-items: center;
    height: 12rem;
    padding: 1rem 3.2rem;
    background-color: var(--color-primary);
    border-radius: 0.9rem;
}

.logo {
    grid-area: 1/1/2/-1;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo span {
    font-size: 3.2rem;
}

.logo h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.search {
    grid-area: 2/1/-1/2;
    justify-self: center;
    border: none;
    padding: 1.1rem 1.6rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    min-width: 22rem;
    max-width: 38rem;
    transition: all 0.3s;
    color: var(--color-text);
    background-color: var(--color-primary-light);
}

.search::placeholder {
    color: var(--color-text-dark);
}

.search:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.numResults {
    grid-area: 2/2/-1/-1;
    justify-self: end;
    font-size: 1.2rem;
}

@media (width >= 36em) {
    .search {
        width: 32rem;
        font-size: 1.5rem;
    }
    .numResults {
        font-size: 1.5rem;
    }
}

@media (width >= 48em) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        column-gap: 1rem;
        align-items: center;
        height: 7.2rem;
        padding: 0 3.2rem;
    }

    .logo {
        grid-column: 1/2;
    }

    .search {
        grid-column: 2/ 3;
        font-size: 1.8rem;
    }

    .numResults {
        grid-column: 3/-1;
    }
}

@media (width >= 62rem) {
    .search {
        width: 38rem;
    }

    .numResults {
        font-size: 1.8rem;
    }
}
